body{
    background-color: #FFF7EA;
    overflow-y: hidden;
}

.clock{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 30px;
    position: fixed;
    color: #f4d2d7;
    background-color: #7975A3;
    border: solid;
    padding: 15px;
    padding-bottom: 20px;
    margin: 20px;
    top: 5px;
    z-index: 20;
    bottom: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    right: 10px;
    float: right;
}

.title1{
    transform: rotate(-90deg);
    position: absolute;
    width: 600px;
    height: 100%;
    left: 12%;
    bottom: 2%;
}

.author1{
    font-size: 14px;
    position: absolute;
    left: 25%;
}

.title2{
    transform: rotate(-90deg);
    position: absolute;
    width: 700px;
    height: 100%;
    left: 25%;
    bottom: 2%;
}

.author2{
    font-size: 14px;
    position: absolute;
    left: 24%;
}

.title3{
    transform: rotate(-90deg);
    position: absolute;
    width: 650px;
    height: 100%;
    left: 32%;
    bottom: 2%;
}

.author3{
    font-size: 14px;
    position: absolute;
    left: 14%;
}

.title4{
    transform: rotate(-90deg);
    position: absolute;
    width: 550px;
    height: 100%;
    left: 35%;
    bottom: 2%;
}

.author4{
    font-size: 14px;
    position: absolute;
    left: 12%;
}

.title5{
    transform: rotate(-90deg);
  position: absolute;
  width: 600px;
  height: 100%;
  left: 15%;
  bottom: 2%;
}

.author5{
  font-size: 14px;
  position: absolute;
  left: 12%;
}

.title1 a{
    text-decoration: none;
    color: #791b1e;
}
.title2 a{
    text-decoration: none;
    color: #490327;
}
.title3 a{
    text-decoration: none;
    color: #ffffff;
}
.title4 a{
    text-decoration: none;
    color: #ffffff;
}
.title5 a{
    text-decoration: none;
    color: #2e2d2d;
}

.lover{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    color: #791b1e;
    background-color: #C8AB8C;
    border: solid;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    width: 60px;
    height: 600px;
}

.crooked{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 95px;
    position: absolute;
    color: #490327;
    background-image: linear-gradient(180deg, #D593AF, #8E3A40);
    border: solid;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    width: 100px;
    height: 700px;
    left: 120.5px; 
}

.haifa{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 65px;
    position: absolute;
    color: #ffffff;
    background-color: #222657;
    border: solid;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    width: 60px;
    height: 650px;
    left: 273.5px;
}

.breath{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 67px;
    position: absolute;
    color: #ffffff;
    background-image: linear-gradient(180deg, #352122, #B73E2F);
    border: solid;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    width: 60px;
    height: 550px;
    left: 32.2%;
}

.recitatif{
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 100px;
    position: absolute;
    color: #2e2d2d;
    background-image: linear-gradient(180deg, #E6D386, #80754B);
    border: solid;
    padding: 20px;
    margin: 20px;
    bottom: 0;
    width: 60px;
    height: 600px;
    left: 41.5%;;
}

.lover:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
   }
   
.crooked:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
   }
   
.haifa:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
   }
   
.breath:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
   }
   
.recitatif:hover{
    transform: scale(1.05);
    transition-duration: 500ms;
   }

@media (min-width: 1207px) { 
  .breath{
    transform: rotate(-1deg)
  }
  .recitatif{
    transform: rotate(-1deg)
  }
}

@media (min-width: 1210px) { 
  .breath{
    transform: rotate(-2deg)
  }
  .recitatif{
    transform: rotate(-3deg)
  }
}

@media (min-width: 1220px) { 
  .breath{
    transform: rotate(-2.5deg)
  }
  .recitatif{
    transform: rotate(-4deg)
  }
}

@media (min-width: 1230px) { 
  .breath{
    transform: rotate(-3deg)
  }
  .recitatif{
    transform: rotate(-5deg)
  }
}

@media (min-width: 1240px) { 
  .breath{
    transform: rotate(-3.5deg)
  }
  .recitatif{
    transform: rotate(-6deg)
  }
}

@media (min-width: 1245px) { 
  .breath{
    transform: rotate(-4deg)
  }
  .recitatif{
    transform: rotate(-7deg)
  }
}

@media (min-width: 1250px) { 
  .breath{
    transform: rotate(-4.5deg)
  }
  .recitatif{
    transform: rotate(-7.5deg)
  }
}

@media (min-width: 1260px) { 
  .breath{
    transform: rotate(-5deg)
  }
  .recitatif{
    transform: rotate(-8deg)
  }
}

@media (min-width: 1270px) { 
  .breath{
    transform: rotate(-5.5deg)
  }
  .recitatif{
    transform: rotate(-8.5deg)
  }
}

@media (min-width: 1280px) { 
  .breath{
    transform: rotate(-6deg)
  }
  .recitatif{
    transform: rotate(-9.5deg)
  }
}

@media (min-width: 1290px) { 
  .breath{
    transform: rotate(-6.5deg);
    left: 415px;
  }
  .recitatif{
    transform: rotate(-10deg)
  }
}

@media (min-width: 1300px) { 
  .recitatif{
    transform: rotate(-11deg)
  }
}

@media (min-width: 1310px) { 
  .recitatif{
    transform: rotate(-12deg);
    left: 548px;
  }
}

.container {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.draggable-note-1 {
    position: absolute;
    cursor: grab;
}